.find-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("../assets/background-find.png");
  padding: 50px;
}

.find-banner > h2 {
  font-size: 32px;
  font-weight: 350;
  font-family: "Varela Round";
}

.finding-options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  margin-top: 30px;
}

.location {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(212, 212, 212, 1);
  border-radius: 10px;
  width: 200px;
}

.location > select {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  font-weight: 350;
  color: rgba(118, 118, 118, 1);
  border: 1px solid rgba(212, 212, 212, 1);
  border-radius: 5px;
  /* appearance: none;
  -webkit-appearance: none; */
  background-color: white;
  border: none;
}

.find-services {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  width: 350px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 350;
  color: rgba(118, 118, 118, 1);
  border: 1px solid rgba(212, 212, 212, 1);
}
.service-search {
  width: 80%;
  outline: none;
  padding: 12px;
  border-radius: 10px;
  border:none;
}
